/* TOPBAR */
.topbar {
    width: 100%;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.site-logo {
    height: 120px;
    width: auto;
}

.site-title {
    font-size: 1.9rem;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
}

/* BOTÃO LOGIN */
.login-btn {
    padding: 8px 18px;
    border: 2px solid #fff;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-weight: 600;
    transition: 0.25s ease;
}

.login-btn:hover {
    background: #fff;
    color: #d433b3;
    transform: translateY(-2px);
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}