/* You can add global styles to this file, and also import other style files */
* {
    color: inherit;
}

html {
    min-height: 100%;
    background: linear-gradient(180deg,
            #ff53b0 0%,
            #b7328a 30%,
            #4a1b4f 65%,
            #000000 100%) fixed;
}

body {
    min-height: 100%;
    background: transparent !important;
    color: #ffffff !important;
    margin: 0;
    padding: 0;
}


:host {
    color: #fff;
}

.card {
    background: #ffffff !important;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform .2s ease, box-shadow .2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
}

:host ::ng-deep .card {
    color: #000 !important;
}

.card,
.card * {
    color: #000 !important;
}

button.btn {
    color: #fff !important; // texto branco
    border-color: #fff !important; // borda branca
}

button.btn:hover {
    background: rgba(255, 255, 255, 0.15) !important;
    color: #fff !important;
}

.pagination-container button {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.pagination-container button:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}